vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|28 Feb 2007 02:17:46 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|28 Feb 2007 02:17:46 -0000
vti_filesize:IR|1543
vti_cachedtitle:SR|SoundManager 2 Template
vti_cachedbodystyle:SR|<body>
vti_cachedlinkinfo:VX|S|../../script/soundmanager2.js
vti_cachedsvcrellinks:VX|FSUS|sm2/script/soundmanager2.js
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|windows-1252
vti_title:SR|SoundManager 2 Template
vti_lineageid:SR|{C9D1D6B8-0B2E-49B6-9AD2-9927EE32DC08}
vti_backlinkinfo:VX|
