vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|15 Apr 2007 21:16:34 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|15 Apr 2007 21:16:34 -0000
vti_filesize:IR|5959
vti_cachedlinkinfo:VX|S|image/body-bg-squidfingers.com.gif S|image/bg-main.jpg S|image/bg-header.jpg S|image/speaker.png S|image/bg-main.jpg S|image/param-boolean.gif S|image/param-string.gif S|image/param-integer.gif S|image/param-function.gif S|image/bg-header.jpg
vti_cachedsvcrellinks:VX|FSUS|sm2/demo/image/body-bg-squidfingers.com.gif FSUS|sm2/demo/image/bg-main.jpg FSUS|sm2/demo/image/bg-header.jpg FSUS|sm2/demo/image/speaker.png FSUS|sm2/demo/image/bg-main.jpg NSUS|sm2/demo/image/param-boolean.gif NSUS|sm2/demo/image/param-string.gif NSUS|sm2/demo/image/param-integer.gif NSUS|sm2/demo/image/param-function.gif FSUS|sm2/demo/image/bg-header.jpg
vti_lineageid:SR|{F635DF3C-B021-454F-915A-EE1917BED55F}
vti_backlinkinfo:VX|sm2/index.html
