vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|15 Apr 2007 21:16:38 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|15 Apr 2007 21:16:38 -0000
vti_filesize:IR|6470
vti_cachedlinkinfo:VX|S|image/body-bg-squidfingers.com-light.gif S|image/bg-main-light.jpg S|image/bg-header.jpg S|image/speaker.png S|image/bg-main-light.jpg S|image/param-boolean.gif S|image/param-string.gif S|image/param-integer.gif S|image/param-function.gif S|image/bg-header.jpg
vti_cachedsvcrellinks:VX|FSUS|sm2/demo/image/body-bg-squidfingers.com-light.gif FSUS|sm2/demo/image/bg-main-light.jpg FSUS|sm2/demo/image/bg-header.jpg FSUS|sm2/demo/image/speaker.png FSUS|sm2/demo/image/bg-main-light.jpg NSUS|sm2/demo/image/param-boolean.gif NSUS|sm2/demo/image/param-string.gif NSUS|sm2/demo/image/param-integer.gif NSUS|sm2/demo/image/param-function.gif FSUS|sm2/demo/image/bg-header.jpg
vti_lineageid:SR|{01C4CF7F-13A0-4AA8-B374-A0486B9B15F4}
vti_backlinkinfo:VX|sm2/index.html
