vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|08 Jun 2007 01:42:00 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|08 Jun 2007 01:42:00 -0000
vti_filesize:IR|394
vti_lineageid:SR|{A50BDFCA-34B9-4803-8CD9-15E7EF3B83C5}
vti_backlinkinfo:VX|tc/components/printView.cfm tc/components/viewTimeCard.cfm
