vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|22 Nov 2007 13:12:55 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|22 Nov 2007 13:12:55 -0000
vti_filesize:IR|2489
vti_cachedlinkinfo:VX|S|../images/cancelbutton.gif
vti_cachedsvcrellinks:VX|NSUS|images/cancelbutton.gif
vti_lineageid:SR|{6AB34A06-B7F8-426B-BD4E-82B2586FCB7D}
vti_backlinkinfo:VX|styleConfig.cfm
