vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|09 Jan 2007 05:52:40 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|09 Jan 2007 05:52:40 -0000
vti_filesize:IR|190
vti_lineageid:SR|{BA422D6C-4904-4604-B9E4-DDB1EBA8BCF4}
vti_backlinkinfo:VX|sm2/demo/animation/index.html
