vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|16 Sep 2007 00:02:00 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|16 Sep 2007 00:02:00 -0000
vti_filesize:IR|2489
vti_cachedlinkinfo:VX|S|../images/cancelbutton.gif
vti_cachedsvcrellinks:VX|FSUS|swfupload/demos/images/cancelbutton.gif
vti_lineageid:SR|{A2F1A9AA-F9D1-4753-A875-2D1B3060ED26}
vti_backlinkinfo:VX|
