vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|10 Dec 2007 17:31:49 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|10 Dec 2007 17:31:49 -0000
vti_filesize:IR|4594
vti_lineageid:SR|{D609CDD9-C07E-46B4-9B78-013D1D1A6247}
vti_backlinkinfo:VX|LandingSite/test.html
